<!DOCTYPE html>
<html ng-app="AngularThree">
<head>
    <script src="./target/scala-2.11/classes/angular.min.js"></script>
    <script src="./target/scala-2.11/classes/three.min.js"></script>
    <script src="./target/scala-2.11/classes/hand.js"></script>
    <script src="./target/scala-2.11/classes/threeExample.js"></script>
    <style type="text/css">
        .baseInput {
            width:30px;
        }
        .renderButton {
            width:120px;
            font: 24px Arial bold;
            text-align:center;
            margin-left: 60px;
            margin-top: 60px;
        }
    </style>
    <script type="text/javascript" src="./target/scala-2.11/angular-three-scalajs-example-fastopt.js"></script>
    <title>AngularJS example by using Scala.js</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body onload="//ThreeExample()">

<table width="100%" height="100%">
    <tr>
        <td width="320" height="320">
            <canvas id="polygon"></canvas>
            <script>
            document.getElementById("polygon").onmousedown = function(event){
                event.preventDefault();};
            </script>
        </td>
        <td rowspan=2 id="ThreeHolder">
            <canvas id="ThreeCanvas"></canvas>
        </td>
    </tr>
   <tr>
       <td>
           <div ng-controller="SimpleController">
               <strong>Vertices:</strong> {{vertices}}
               <button ng-click="SetVertices(vertices + 1)">
                   +
               </button>
               <button ng-click="SetVertices(vertices - 1)">
                   -
               </button>
               <strong>Height:</strong>
               <input type="text" class="baseInput" ng-model="height" ng-change="saveHeight()" ng-init="loadHeight()">
               <br/><br/>
               <strong>Rotate X:</strong>
               <input type="checkbox" ng-model="rotate.X" ng-init="rotate.X=true" ng-change="setRotation()">
               <br/>
               <strong>Rotate Y:</strong>
               <input type="checkbox" ng-model="rotate.Y" ng-init="rotate.Y=true" ng-change="setRotation()">
               <br/>
               <strong>Rotate Z:</strong>
               <input type="checkbox" ng-model="rotate.Z" ng-init="rotate.Z=false" ng-change="setRotation()">
               <br/>

               <button ng-click="Render()" class="renderButton">
                   Render
               </button>
               <!--<button ng-click="Hide()" class="renderButton">-->
                   <!--Hide-->
               <!--</button>-->

           </div>
       </td>
   </tr>
</table>

<script type="text/javascript">
    example.Main().main();
</script>

</body>
</html>

